# Lesson Notebook
## NLP: A Closer Look at Markov Chains and Entropy 

Written by Shannon Binghan

### Notebook Description
This notebook contains code to build a Markov prediction machine with order 1.  It was used as a demonstration during the lesson.

## Set up environment.

In [1]:
# Import packages and modules.
import numpy  as np
import pandas as pd
import string

import warnings
warnings.filterwarnings('ignore')

# Increase number of columns that can be viewed in notebook.
pd.set_option('display.max_columns', 500)

np.random.seed(42)

## Load data.

In [2]:
# Load text data.
with open('./data/greeneggs.txt', 'r') as myfile:
    data=myfile.read().replace('\n', '')
    
# Take a look.
data

'I AM SAM. I AM SAM. SAM I AM. THAT SAM-I-AM! THAT SAM-I-AM! I DO NOT LIKE THAT SAM-I-AM! DO WOULD YOU LIKE GREEN EGGS AND HAM? I DO NOT LIKE THEM, SAM-I-AM. I DO NOT LIKE GREEN EGGS AND HAM. WOULD YOU LIKE THEM HERE OR THERE? I WOULD NOT LIKE THEM HERE OR THERE. I WOULD NOT LIKE THEM ANYWHERE. I DO NOT LIKE GREEN EGGS AND HAM. I DO NOT LIKE THEM, SAM-I-AM. WOULD YOU LIKE THEM IN A HOUSE?WOULD YOU LIKE THEN WITH A MOUSE? I DO NOT LIKE THEM IN A HOUSE. I DO NOT LIKE THEM WITH A MOUSE. I DO NOT LIKE THEM HERE OR THERE. I DO NOT LIKE THEM ANYWHERE. I DO NOT LIKE GREEN EGGS AND HAM. I DO NOT LIKE THEM, SAM-I-AM. WOULD YOU EAT THEM IN A BOX? WOULD YOU EAT THEM WITH A FOX? NOT IN A BOX. NOT WITH A FOX. NOT IN A HOUSE. NOT WITH A MOUSE. I WOULD NOT EAT THEM HERE OR THERE. I WOULD NOT EAT THEM ANYWHERE. I WOULD NOT EAT GREEN EGGS AND HAM. I DO NOT LIKE THEM, SAM-I-AM. WOULD YOU? COULD YOU? IN A CAR? EAT THEM! EAT THEM! HERE THEY ARE. I WOULD NOT, COULD NOT, IN A CAR. YOU MAY LIKE THEM. YOU WILL SEE. YOU MAY LIKE THEM IN A TREE! I WOULD NOT, COULD NOT IN A TREE. NOT IN A CAR! YOU LET ME BE. I DO NOT LIKE THEM IN A BOX. I DO NOT LIKE THEM WITH A FOX. I DO NOT LIKE THEM IN A HOUSE. I DO NOT LIKE THEM WITH A MOUSE. I DO NOT LIKE THEM HERE OR THERE. I DO NOT LIKE THEM ANYWHERE. I DO NOT LIKE GREEN EGGS AND HAM. I DO NOT LIKE THEM, SAM-I-AM. A TRAIN! A TRAIN! A TRAIN! A TRAIN! COULD YOU, WOULD YOU ON A TRAIN? NOT ON TRAIN! NOT IN A TREE! NOT IN A CAR! SAM! LET ME BE! I WOULD NOT, COULD NOT, IN A BOX. I WOULD NOT, COULD NOT, WITH A FOX. I WILL NOT EAT THEM IN A HOUSE. I WILL NOT EAT THEM HERE OR THERE. I WILL NOT EAT THEM ANYWHERE. I DO NOT EAT GREEM EGGS AND HAM. I DO NOT LIKE THEM, SAM-I-AM. SAY! IN THE DARK? HERE IN THE DARK! WOULD YOU, COULD YOU, IN THE DARK? I WOULD NOT, COULD NOT, IN THE DARK. WOULD YOU COULD YOU IN THE RAIN? I WOULD NOT, COULD NOT IN THE RAIN. NOT IN THE DARK. NOT ON A TRAIN. NOT IN A CAR. NOT IN A TREE. I DO NOT LIKE THEM, SAM, YOU SEE. NOT IN A HOUSE. NOT IN A BOX. NOT WITH A MOUSE. NOT WITH A FOX. I WILL NOT EAT THEM HERE OR THERE. I DO NOT LIKE THEM ANYWHERE! YOU DO NOT LIKE GREEN EGGS AND HAM? I DO NOT LIKE THEM, SAM-I-AM. COULD YOU, WOULD YOU, WITH A GOAT? I WOULD NOT, COULD NOT WITH A GOAT! WOULD YOU, COULD YOU, ON A BOAT? I COULD NOT, WOULD NOT, ON A BOAT. I WILL NOT, WILL NOT, WITH A GOAT. I WILL NOT EAT THEM IN THE RAIN. NOT IN THE DARK! NOT IN A TREE! NOT IN A CAR! YOU LET ME BE! I DO NOT LIKE THEM IN A BOX. I DO NOT LIKE THEM WITH A FOX. I WILL NOT EAT THEM IN A HOUSE. I DO NOT LIKE THEM WITH A MOUSE. I DO NOT LIKE THEM HERE OR THERE. I DO NOT LIKE THEM ANYWHERE! I DO NOT LIKE GREEN EGGS AND HAM! I DO NOT LIKE THEM, SAM-I-AM. YOU DO NOT LIKE THEM. SO YOU SAY. TRY THEM! TRY THEM! AND YOU MAY. TRY THEM AND YOU MAY, I SAY. sAM! IF YOU LET ME BE, I WILL TRY THEM. YOU WILL SEE and he tries them SAY! I LIKE GREEN EGGS AND HAM! I DO! I LIKE THEM, SAM-I-AM! AND I WOULD EAT THEM IN A BOAT. AND I WOULD EAT THEM WITH A GOAT AND I WILL EAT THEM, IN THE RAIN. AND IN THE DARK. AND ON A TRAIN. AND IN A CAR. AND IN A TREE. THEY ARE SO GOOD, SO GOOD, YOU SEE! SO I WILL EAT THEM IN A BOX. AND I WILL EAT THEM WITH A FOX. AND I WILL EAT THEM IN A HOUSE. AND I WILL EAT THEM WITH A MOUSE. AND I WILL EAT THEM HERE AND THERE. SAY! I WILL EAT THEM ANYWHERE! I DO SO LIKE GREEN EGGS AND HAM! THANK YOU! THANK YOU, SAM I AM.'

## Clean data.

In [3]:
# Set alphabet to include space and all lower case letters.
alphabet = list(" " + string.ascii_lowercase)

# Take a look.
alphabet[0:5]

[' ', 'a', 'b', 'c', 'd']

In [4]:
# Strip out all characters that are not letters or spaces.
stripped_data = ''

# Loop through the data.
for c in data:
    if c.lower() in alphabet:
        stripped_data += c.lower()
        
# Take a look.
stripped_data

'i am sam i am sam sam i am that samiam that samiam i do not like that samiam do would you like green eggs and ham i do not like them samiam i do not like green eggs and ham would you like them here or there i would not like them here or there i would not like them anywhere i do not like green eggs and ham i do not like them samiam would you like them in a housewould you like then with a mouse i do not like them in a house i do not like them with a mouse i do not like them here or there i do not like them anywhere i do not like green eggs and ham i do not like them samiam would you eat them in a box would you eat them with a fox not in a box not with a fox not in a house not with a mouse i would not eat them here or there i would not eat them anywhere i would not eat green eggs and ham i do not like them samiam would you could you in a car eat them eat them here they are i would not could not in a car you may like them you will see you may like them in a tree i would not could not in a tree not in a car you let me be i do not like them in a box i do not like them with a fox i do not like them in a house i do not like them with a mouse i do not like them here or there i do not like them anywhere i do not like green eggs and ham i do not like them samiam a train a train a train a train could you would you on a train not on train not in a tree not in a car sam let me be i would not could not in a box i would not could not with a fox i will not eat them in a house i will not eat them here or there i will not eat them anywhere i do not eat greem eggs and ham i do not like them samiam say in the dark here in the dark would you could you in the dark i would not could not in the dark would you could you in the rain i would not could not in the rain not in the dark not on a train not in a car not in a tree i do not like them sam you see not in a house not in a box not with a mouse not with a fox i will not eat them here or there i do not like them anywhere you do not like green eggs and ham i do not like them samiam could you would you with a goat i would not could not with a goat would you could you on a boat i could not would not on a boat i will not will not with a goat i will not eat them in the rain not in the dark not in a tree not in a car you let me be i do not like them in a box i do not like them with a fox i will not eat them in a house i do not like them with a mouse i do not like them here or there i do not like them anywhere i do not like green eggs and ham i do not like them samiam you do not like them so you say try them try them and you may try them and you may i say sam if you let me be i will try them you will see and he tries them say i like green eggs and ham i do i like them samiam and i would eat them in a boat and i would eat them with a goat and i will eat them in the rain and in the dark and on a train and in a car and in a tree they are so good so good you see so i will eat them in a box and i will eat them with a fox and i will eat them in a house and i will eat them with a mouse and i will eat them here and there say i will eat them anywhere i do so like green eggs and ham thank you thank you sam i am'

In [5]:
len(stripped_data)

3177

## Calculate the bi-gram probabilities.

In [6]:
# Create a dataframe to contain bi-grams counts (where (row, col) is incremented for each character pair (i, j)) .
df = pd.DataFrame(0, index=alphabet, columns=alphabet)

# Take a look.
df.head()

,,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z
,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
a,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
b,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
c,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
d,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [7]:
# Update the bi-gram counts.

# Loop through the data.
for i in range(0,len(stripped_data) - 1):
    df.loc[stripped_data[i], stripped_data[i+1]] += 1
                     
# Take a look.
df.head()

,,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z
,0,96,14,21,44,34,7,17,31,111,0,0,48,15,82,14,0,0,4,33,106,0,0,62,0,34,0
a,56,0,0,0,0,0,0,0,0,12,0,0,0,46,36,0,0,0,16,0,33,0,0,0,0,9,0
b,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,10,0,0,0,0,0,0,0,0,0,0,0
c,0,7,0,0,0,0,0,0,0,0,0,0,0,0,0,14,0,0,0,0,0,0,0,0,0,0,0
d,69,7,0,0,0,0,0,0,0,0,0,0,0,0,0,37,0,0,0,0,0,0,0,0,0,0,0

In [8]:
# Convert counts to probabilities, where P(i, j) = count(i, j) / total(i)

# Loop through the df rows (i).
for i in alphabet:
    counts = df.loc[i].tolist()
    total = sum(counts)
    
    # Loop through the columns by index.
    for n in range(0, len(alphabet)):
        
        # Get column name.
        j = alphabet[n]

        # Update the entry.
        if total > 0:
            df.loc[i, j] = (counts[n] / total)
        else:
            df.loc[i, j] = 0
            
# Take a look.
df.head()

,,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z
,0.000000,0.124191,0.018111,0.027167,0.056921,0.043984,0.009056,0.021992,0.040103,0.143596,0.0,0.0,0.062096,0.019405,0.106080,0.018111,0.0,0.0,0.005175,0.042691,0.137128,0.0,0.0,0.080207,0.0,0.043984,0.0
a,0.269231,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.057692,0.0,0.0,0.000000,0.221154,0.173077,0.000000,0.0,0.0,0.076923,0.000000,0.158654,0.0,0.0,0.000000,0.0,0.043269,0.0
b,0.000000,0.000000,0.000000,0.000000,0.000000,0.285714,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.714286,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0
c,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.666667,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0
d,0.610619,0.061947,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.327434,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0

## Build words.

In [9]:
# Identify characters that did not appear in the data.
df[df.sum(axis=1) == 0]

,,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z
j,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
p,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
v,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
z,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
# Save non-appearing character(s) in a list.
missing = list(df[df.sum(axis=1) == 0].index)

# Select first character randomly.
seed = False
while seed == False:
    i = str.join('', (np.random.choice(alphabet, 1)))
    
    if i not in missing:
        seed = True

# Set length of message.
msg_len = 6000

# Initialize message.
msg = ''

# Build message.
for _ in range(0, msg_len):
    
    msg += i
    i = str.join('', (np.random.choice(alphabet, 1, p=df.loc[i].tolist())))

# Print message. 
print(msg)

foarea ia n so you am ay andothea wie e ould dot n t itheeerem nyot cam gggregserea ilikee you e s i wike nonoulli am in ami n i cothe cand e se yox am ot m am t yould re dou at lili li dot ywin fousathem ndox heay am inothem nyouldanoothe yothereeet ha ld tr dam gou saikegggra i whean cousa he t you in bou ike d in wi a wothem m am ait are il wor wikegsoulili them d d an ndot liat itheeem egsa ou ike gggse yoth anonou wox sanyousea in ld there sam e i ikemem e i ldox h wore caithemit i hand e ea gou beregs wi indothem a be remikem e e dou e lem tr the therethee sami lindou an d ikegou sathou t i m in he ink i t nyou the canou t i s me ld iand sanot wi ldo d li t t anywit youliken yodothe lld ikee o be ili thery ith theme emi nothem ike l eeam r winox se doth ld nd ldo noulit eaill a sa wo not a th e dot egou th inot wi wik ain d lld thai ike ildot sam li h t winyouli d n nothetherk i anou wouse t at t t yo mot ikem dam woulind ike be sand t t it ar t wousat i ldous nd ikegr a y ainyoul youlilllin n nyot ara ino ikem m wikeem not wike d wh a am fo hem i the wh i yoretheryo in t am yould noreaywili wot fo t hem e r ll wo winoullike cam whe woth t whem d he i t ggouldou tr the atreanot t t a it the tha tr senyot hem theam d cot t woam nore cothet indoulithem an i ino ll t hodou no wili woulikeegsa coulike inot can le i i t youlind li ilinox ieat t nothe i ikem n in not ere ild nore n lindoth y e n d anot o hot ld be wo do eranyo emin therem i n tre ggrererkend n not m ld n nothouse core m sat whould d nousan sayot thain wi t l ankem d wot henould cat ld e n n begrear hegouldand ildou n noot am yoth you ike gsam y se n emili a e ia li wo the ld notha t a dotreail wotrem ike t nou t an ike inot d t dould d nouldam i it bouli n tha am nd cat nousat anou forem ikerer yo arem am itrke ike i lli yo e ayou bo llild an ike foul yotheem yot ain li o yo ikem a anot memi dou them linou themike ili bo d cam the do lil he ret the sam the dam ox trany sanoul t ikeathe wou a boul gggggsot t co not t em bothem y s hery and otram the t bon t t t ithe them bo erem m i ind i i d in he wike n wike inothou t yo saywo o at it gs trke emike andou nd sen ar h oany ami i t that wou cot i ind i y soulithem nd a e n t dou wot yothea the d sa t whe wi ha winou emoramot wh noream ikegre theam i fothere o it inou othous se t nou nouldotherea a daremoulik inondo ind lli ikem whe ike n tree aman thegr coox be wike l t ikeyo n ayox ld t tham em cox t the t s the not are ot ywi theam illdould notr an e e y ser theme sary y a il athere in o hem s ath t i se t ggggree a in seatheea hee wot wou i doulliker wo mikere wo anoul erai ou ill ldot no t m sathem ami so oth anoul orkemo sat se ind d th ia iam danoullikegon woule nox lilin sere fothanox sa ousa am t wousee ikeathayoth nd wi it d athem wothe earyoulind t t li e whe ywikem a i nyot thes that ondot he inothere e n n gsa t se the gsam n in d in d se them fotre tham t ee nd wo man yo d t bot a da arean iker t the m sam he yox wouldot henyor d i it wi i he d you thewith it mot n l nkem o n whem anou m not a am do the ndotrarem ndoth theeay lin no whe at i not wikem ldothe t the t theam t lild ik d s it lithem t wikem thathe foth t lin ik grem ldouli ld se no d ca heet the t hee wotreth theregse winoulike beeem i il gggrareet lldo i sem i it them a nd ldou dothe candouli ind d them n ikeanould t fou thethem d e wousea like thererkem ike ywot ai athe l wike nou nouldand lldotre t wo ny m t d ndo o d inousegse t no ere oulliatha doulli ikemi mam i wheet a can at i y wo yo the in h dotrem i ikem a m wheanoul t saminothendould t thereee t wothe y eeegseggoothai wouseggsegsanothem an ndo n tryou hemi wou anonousot t aike ggrem gree wikee in bou yox i can hera athe ggseat se t ggrerenoam ox segot d n the mo em am n woulldouli in t ca ldot oul wo an t wi bould an illd notre eem re ou heryouli d m wi li horat iai ai t ino wi the m winouli e the ildox ike at lli m the t co emot gggsam thou em m am t ld i d e a an gousem re d win i dot t yot a nou l ano ay ik coulitheanoth i begram daregr ggs coul am amothe n an y nd anoulilikem tha ike thatremou the t wi i ous boule wot whee atherem ny ik atre at he llin se n t y the li d ld foulle aithe no yo wheyou winox house ike n t a am athet not ike d ee t co non i a gregggsat not ld the dotre not y winoth ee n a d the i ea dot a t i i the them core trke i anox e wousam nd wouli ano whem am ili y yox ld n n heanou ox lino dothee douldoul nox sam iainousa n ha t i sare l i whe hera h bo an bem l n nou e careano t sem am in ggothemin sa n a at d in lithe iat ca dothe caild llinothano them nd wou whe an e a am orke thou nou tra dould hemousam wi bot ami ren yox d ee co am ikenot them f wou t am in m gsemin sa are th em n inousem l t m then lldo at ywikea d itheen sothere h t t d s ike th treerkeanod them in don yous satheam nothem wothemem eayotreem d iam d anou a ld end t anou i atheggs am n he t li noatheainousegot t a ikem n and i ldat youlike am i seremikerea athe m do in the bothemin em ame the dousa an he e ggse t llin at gsen t an he d ikem t em yould sat am t n nootrike lin d d i d cai l theeno in are ldot t nd n i rkea in withe am am no y ike ildatr e i dou he noulild l e wi il woth he grat the lld like inousa arke at ikem d sod ame ia i ino you a d wi m nousamindo wheram woulikem a at sa inoulilli lin trat a at f ggr th whe hem s t ca li seramild egs nothe wi e e t t wo theemam t l lld ouldou am er sare l theain ea t n emou dot thous anot ik eem lik i wil ikea he wot li t t the it and n wi them in inyothen ikegry d i anothem n a noulit it woulin am a box llike wike em sanothem t it bo dot ywi there rare ld n t noulld i winono i won t wiather aywhea wit n li ld t nke ikeno e boon a d l ia am d wi thea an itrandot cothe i wox d noa t in aret are t e ikemi a could i nyoul n anot wou wil n ia nox se anouli that yoam anou l s wot bous nou d t llind wi h inou i t not ywike i l i llino dot sa yotrem anou at l anot t lldoandot yot s an wouli t h